<div class="form-group">
  <label>Career Phase</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-compass"></i></div>
    <select class="form-control"
            ng-model="data.post.job_phase"
            ng-options="(phase | humanize) for phase in data.phases"
            required>
      <option value="" selected>Select a career phase for this post</option>
    </select>
  </div>
</div>

<div class="form-group" ng-if="data.jobPhaseCategories.length">
  <label>Categories</label>

  <div class="checkbox">
    <label for="category">
      <input type="checkbox" name="category" checked disabled/> All Categories
    </label>
  </div>
</div>

<div class="form-group">
  <label>Industry</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
    <select class="form-control"
            ng-model="data.post.primary_industry_id">
      <option value="" selected>All Industries</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label>Post Tags</label>

  <div>Tags placeholder - refactor?</div>
</div>
