<div class="form-group">
  <label>Headline</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-header"></i></div>
    <input type="text" class="form-control" ng-model="data.post.title" placeholder="Post Title (required)">
  </div>
</div>

<div class="form-group">
  <label>Destination URL</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-link"></i></div>
    <input type="text" class="form-control" ng-model="data.post.destination_url" placeholder="Destination URL for this promo (required)">
  </div>
</div>


<div class="form-group">
  <label>Call to Action</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-magic"></i></div>
    <input type="text" class="form-control"
              ng-model="data.post.call_to_action"
              placeholder="Call to Action text (required)">
  </div>
</div>

<div class="form-group">
  <label>Author</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-user"></i></div>
    <input type="text"
           class="form-control"
           placeholder="Enter an author for this post (required)"
           ng-init="data.post.author = data.post.author || currentUser.fullname"
           ng-model="data.post.author"
           ng-minlength="1"
           ng-maxlength="255"
           required>
  </div>
</div>
