.media-edit {
  @extend .row;

  .media-details {
    @include make-md-column(9);
    @include make-md-column-pull(3);
  }

  .media-info {
    @include make-md-column(3);
    @include make-md-column-push(9);
  }

  .display-name-container, .expiration-container, .actions div {
    @include make-md-column(6);
  }

  .content-selector-tabs {
    .tab-content {
      @extend .panel;
      @extend .panel-default;
      @extend .panel-body;

      border-top: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  textarea {
    resize: none;
  }
}
