.media {
  .actions-and-search {
    @extend .row;
    margin-bottom: $standard-margin;

    .manipulate-actions {
      @include make-md-column(8);
      @extend .pull-left;
    }

    .media-search {
      @include make-md-column(4);
      @extend .pull-right;
    }
  }

  .pagination-sorting {
    @extend .row;
    margin-bottom: $standard-margin;

    .media-sort {
      @include make-md-column(9);
      @extend .pull-left;
    }

    .media-page {
      @include make-md-column(3);
      @extend .pull-right;

      ul {
        @extend .pagination, .pull-right;
        margin: 0 0 0 $standard-margin;
      }
    }
  }
}
