<div class="credentials-grid">
  <div class="actions-and-search" class="clearfix">
    <div class="manipulate-actions">
      <button class="btn btn-primary" type="button" ui-sref="cortex.applications.manage.credentials.new">Create Credentials</button>
    </div>
  </div>

  <table ng-table="credentialsTableParams" class="table applications-table">
    <tr ng-repeat="credential in $data">
      <td data-title="'Name'">{{ credential.name }}</td>
      <td data-title="'Redirect URI'">{{ credential.redirect_uri }}</td>
      <td data-title="'Created'">{{ credential.created_at|date:"y/MM/dd h:mm:ss a" }}</td>
      <td data-title="'Modified'">{{ credential.updated_at|date:"y/MM/dd h:mm:ss a" }}</td>
      <td>
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-danger" ng-click="deleteCredential(credential)">Delete</button>
          <button type="button" class="btn btn-primary" ui-sref="cortex.applications.manage.credentials.edit({credentials_id: credentials.id})">Edit</button>
        </div>
      </td>
    </tr>
  </table>
</div>
