<div class="media-edit">
  <form novalidate name="credentialsNewForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-pencil-square-o"></i> {{ data.credentials.name }}
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control" type="text"
                 ng-model="data.credentials.name" placeholder="Credentials Name" required/>
        </div>
        <div class="form-group">
          <label for="redirect_uri">Redirect URI</label>
          <input id="redirect_uri" name="redirect_uri" class="form-control" type="text"
                 ng-model="data.credentials.redirect_uri" placeholder="Redirect URI" required/>
        </div>
        <div class="actions row">
          <div>
            <button class="btn btn-default btn-block" type="button"
                    ng-click="cancel()">
              <i class="fa fa-reply"></i> Cancel
            </button>
          </div>
          <div>
            <button class="btn-primary btn-block" type="button"
                    ng-disabled="credentialsNewForm.$invalid || !credentialsNewForm.$dirty" ng-click="saveCredentials()">
              <i class="fa fa-cloud-upload"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
