.mdl-color-text--grey-800.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
  .mdl-grid.mdl-card
    .mdl-cell.mdl-cell--12-col
      = render 'partials/authentication/login_tabs'
- unless news_feed.blank?
  .news.mdl-color-text--grey-800.mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
    = render 'partials/authentication/news'
