@mixin striped-background-45($colorA, $colorB) {
  background: repeating-linear-gradient(
    45deg,
    $colorA,
    $colorA 10px,
    $colorB 10px,
    $colorB 20px
  );
}

file-selector {
  .drop-zone {
    @extend .text-center;
    @extend h3;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed $gray-light;
    @include striped-background-45($gray-lighter, #fff);

    &:hover {
      color: darken($brand-primary, 10%);
      border: 2px dashed lighten($brand-primary, 10%);
      @include striped-background-45(lighten($brand-primary, 30%), #fff);
    }
  }
}
