@mixin striped-background-45($colorA, $colorB) {
  background: repeating-linear-gradient(
    45deg,
    $colorA,
    $colorA 10px,
    $colorB 10px,
    $colorB 20px
  );
}

file-selector {
  input[type="file"] {
    display: none;
  }
  .dropzone {
    @extend .text-center;
    @extend h3;
    margin-top: 10px;
    padding: 20px;
    border: 2px dashed $gray-light;
    @include striped-background-45($gray-lighter, #fff);

    &:hover {
      color: darken($brand-primary, 10%);
      border: 2px dashed lighten($brand-primary, 10%);
      @include striped-background-45(lighten($brand-primary, 30%), #fff);
    }
  }
  ul.files {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 10px;
      padding: 10px;
      @extend .bg-success;
      .remove {
        display: none;
      }
      &:hover {
        @extend .bg-danger;
        .remove {
          display: inline;
        }
        .present {
          display: none;
        }
      }
    }
  }
}
