# Replace with `rake secret`
APP_SECRET=
DEVISE_SECRET=

#
# Asset Host Configuration
#
HOST_ALIAS=
ASSET_HOST_URL=

# S3
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=

#
# Monitoring
#
NEW_RELIC_LICENSE_KEY=
SENTRY_RAVEN_DSN=

#
# Email Configuration
#
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_SENDER_DOMAIN=cortexcms.org
SMTP_SENDER_ADDRESS=noreply@cortexcms.org
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_STARTTLS=true

#
# CORS Configuration
#

# CSV allowed origins. Default is '*'
CORS_ALLOWED_ORIGINS=

# Optional regular expression allowed origin(s)
CORS_ALLOWED_ORIGINS_REGEX=

#
# External Services
#

# Vendor/3rd Party Script Configuration
GOOGLE_ANALYTICS_ID=
QUALTRICS_ID=

#
# Database Configuration
#
#DATABASE_NAME=
#DATABASE_USERNAME=
#DATABASE_PASSWORD=
#DATABASE_HOST=
#DATABASE_PORT=

#
# Caching
#
REDIS_NAMESPACE=cortex_dev
CACHE_URL=redis://localhost:6379/0/cache
SESSION_STORE_URL=redis://localhost:6379/0/cache

#
# Search
#
ELASTICSEARCH_ADDRESS=localhost:9200

#
# Admin Interface
#

# News Feed / Release notes
CORTEX_NEWS_FEED_TENANT=
