- if @content_item
  %dialog.mdl-dialog#wysiwyg
    %h4.mdl-dialog__title Insert Media
    .mdl-dialog__content
      = cell(Cortex::IndexCell, media_index, context: { content_type: content_type, content_items: media_content_items, popup: 'wysiwyg' }).(:index)
    .mdl-dialog__actions
      .mdl-button.mdl-js-button.mdl-button--raised.close-dialog Close
  %dialog.mdl-dialog#featured
    %h4.mdl-dialog__title Select Media
    .mdl-dialog__content
      = cell(Cortex::IndexCell, media_index, context: { content_type: content_type, content_items: media_image_content_items, popup: 'featured' }).(:index)
    .mdl-dialog__actions
      .mdl-button.mdl-js-button.mdl-button--raised.close-dialog Close
