%div.user-block
  %div.user-block__text
    %span.user-block__greeting
      Hello, #{current_user.firstname}
    %span.user-block__logout
      = link_to 'Logout', destroy_user_session_path, method: :delete
  %img.user-block__avatar{:src => current_user.gravatar}
