<div class="custom-content" ui-view>
  <div class="actions-and-search">
    <div class="manipulate-actions">
      <button ui-sref="cortex.content_items.new" class="btn btn-primary" type="button"><i class="fa fa-plus-square"></i> Create Content Item</button>
    </div>
  </div>
  <ul>
    <li ng-repeat="contentItem in data.contentItems">
      <p ng-repeat="fieldItem in contentItem.field_items">{{ fieldItem.field_name }}: {{ fieldItem.data.text }}</p>
      <p>Author: {{contentItem.author}}</p>
      <p>State: {{contentItem.publish_state}}</p>
      <p>Published At: {{contentItem.published_at}}</p>
      <p>Content Type: {{contentItem.content_type}}</p>
    </li>
  </ul>
</div>
