<div class="form-group has-feedback" show-errors>
  <label>Career Phase</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-compass"></i></div>
    <select class="form-control"
            ng-model="data.post.job_phase"
            ng-options="(phase | humanize) for phase in data.phases"
            required>
      <option value="" selected>Select a career phase for this post</option>
    </select>
  </div>
</div>

<div class="form-group" ng-if="data.jobPhaseCategories.length">
  <label>Categories</label>

  <div class="checkbox" ng-repeat="category in data.jobPhaseCategories">
    <label>
      <input type="checkbox" ng-model="category.$selected">
      {{ category.name }}
    </label>
  </div>
</div>

<div class="form-group">
  <label>Industry</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
    <select class="form-control"
            ng-model="data.post.primary_industry_id"
            ng-options="industry.id as industry.title for industry in data.industries">
      <option value="" selected>All Industries</option>
    </select>
  </div>
</div>

<div class="tags form-group">
  <label>Post Tags</label>

  <div class="input-group">
    <div class="tagger">
      <tags-input display-property="name"
                  type="text"
                  placeholder="Enter relevant tags for this post"
                  ng-model="data.post.tag_list"
                  ng-maxlength="255">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
    </div>
    <span class="input-group-btn" dropdown>
      <button class="btn btn-default dropdown-toggle" type="button">
        Popular <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="tag in data.popularTags">
          <a ng-click="addTag(tag)">{{ tag.name }} <span class="pull-right">{{ tag.count }}</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
