<div class="form-group" show-errors data-parent-selector=".classify-tab">
  <label>Career Phase *</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-compass"></i></div>
    <select class="form-control"
            name="job_phase"
            ng-model="data.post.job_phase"
            ng-options="phase for phase in data.phases"
            required>
      <option value="" selected>Select a career phase for this post</option>
    </select>
  </div>
</div>

<div class="form-group" ng-if="data.jobPhaseCategories.length">
  <label>Categories</label>

  <div class="checkbox" ng-repeat="category in data.jobPhaseCategories">
    <label>
      <input type="checkbox" ng-model="category.$selected">
      {{ category.name }}
    </label>
  </div>
</div>

<div class="form-group">
  <label>Industry</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
    <select class="form-control"
            ng-model="data.post.primary_industry_id"
            ng-options="industry.id as industry.title for industry in data.industries">
      <option value="" selected>All Industries</option>
    </select>
  </div>
</div>

<div class="tags">
  <label>Post Tags</label>

  <div class="tags-group">
    <tags-input display-property="name"
                type="text"
                placeholder="Enter relevant tags for this post"
                ng-model="data.post.tag_list"
                ng-maxlength="255">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
    <span dropdown>
      <button class="btn btn-default dropdown-toggle" type="button">
        Popular <i class="caret"></i>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="tag in data.popularTags">
          <a ng-click="addTag(tag)">{{ tag.name }} <span class="pull-right">{{ tag.count }}</span></a>
        </li>
      </ul>
    </span>
  </div>
</div>
