<div class="form-group">
  <label>Headline</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-header"></i></div>
    <input type="text" class="form-control" ng-model="data.post.title">
  </div>
</div>

<div class="form-group">
  <label>Slug</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-anchor"></i></div>
    <input name="slug"
           ng-init="data.post.slug = data.post.slug || (data.post.title | slugify)"
           placeholder="Unique slug to use in URLs (required)"
           type="text"
           class="form-control"
           ng-model="data.post.slug"
           ng-maxlength="255"
           required>
    <p ng-show="postForm.slug.$error.unavailable" class="has-error">
      <span class="glyphicon glyphicon-remove"></span>
      This slug is already used by <a ui-sref="cortex.posts.edit({postId: data.postWithDuplicateSlug.id})">{{ data.postWithDuplicateSlug.title }}</a>
    </p>
  </div>
</div>

<div class="form-group">
  <label>Description</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-ellipsis-h"></i></div>
    <textarea class="form-control"
              ng-model="data.post.short_description"
              placeholder="Enter a short description for the post (required)">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label>Author</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-user"></i></div>
    <input type="text"
           class="form-control"
           placeholder="Enter an author for this post (required)"
           ng-init="data.post.author = data.post.author || currentUser.fullname"
           ng-model="data.post.author"
           ng-minlength="1"
           ng-maxlength="255"
           required>
  </div>
</div>

<div class="form-group">
  <label>Copyright Owner</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
    <input type="text"
           class="form-control"
           placeholder="Enter a copyright owner for this post (required)"
           ng-model="data.post.copyright_owner"
           ng-minlength="1"
           ng-maxlength="255"
           required>
  </div>
</div>
