<div class="headline-group">
  <label>Headline</label>

  <div class="headline-input-group">
    <div class="addon"><i class="fa fa-header"></i></div>
    <input type="text" class="control" ng-model="data.post.title">
  </div>
</div>

<div class="slug-group">
  <label>Slug</label>

  <div class="slug-input-group">
    <div class="addon"><i class="fa fa-anchor"></i></div>
    <input name="slug"
           ng-init="data.post.slug = data.post.slug || (data.post.title | slugify)"
           placeholder="Unique slug to use in URLs (required)"
           type="text"
           class="control"
           ng-model="data.post.slug"
           ng-maxlength="255"
           required>
  </div>
</div>

<div class="description-group">
  <label>Description</label>

  <div class="description-input-group">
    <div class="addon"><i class="fa fa-ellipsis-h"></i></div>
    <textarea class="control"
              ng-model="data.post.short_description"
              placeholder="Enter a short description for the post (required)">
    </textarea>
  </div>
</div>

<div class="author-group">
  <label>Author</label>

  <div class="author-input-group">
    <div class="addon"><i class="fa fa-user"></i></div>
    <input type="text"
           class="control"
           placeholder="Enter an author for this post (required)"
           ng-init="data.post.author = data.post.author || currentUser.fullname"
           ng-model="data.post.author"
           ng-minlength="1"
           ng-maxlength="255"
           required>
  </div>
</div>

<div class="copyright-owner-group">
  <label>Copyright Owner</label>

  <div class="copyright-owner-input-group">
    <div class="addon"><i class="fa fa-building-o"></i></div>
    <input type="text"
           class="control"
           placeholder="Enter a copyright owner for this post (required)"
           ng-model="data.post.copyright_owner"
           ng-minlength="1"
           ng-maxlength="255"
           required>
  </div>
</div>
