<div class="title form-group">
  <label>Title</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-header"></i></div>
    <input type="text"
           class="form-control"
           name="seo_title"
           placeholder="Enter an HTML meta title for this post"
           ng-model="data.post.seo_title"
           ng-maxlength="255">
  </div>
</div>

<div class="description form-group">
  <label>Description</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-ellipsis-h"></i></div>
    <input type="text"
           class="form-control"
           name="seo_description"
           placeholder="Enter an HTML meta description for this post"
           ng-model="data.post.seo_description"
           ng-maxlength="255">
  </div>
</div>

<div class="is-wysiwyg">
  <label>Use WYSIWYG Editor?</label>
  <div class="is-wysiwyg-group">
    <input
        bs-switch
        ng-model="data.post.is_wysiwyg"
        type="checkbox"
        switch-active="true"
        switch-on-text="Enabled"
        switch-off-text="Disabled"
        switch-on-color="default"
        switch-off-color="primary"
        switch-icon="fa fa-edit"
        switch-animate="true"/>
  </div>
  <p>Consider disabling the WYSIWYG editor if you'd like to input raw HTML</p>
</div>
