<div class="locale-edit">
  <form novalidate name="localeForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-pencil-square-o"></i> Provide Details
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" type="text" class="form-control"
                 ng-model="data.locale.name" placeholder="Locale name" required>
        </div>

        <div class="form-group">
          <label for="yaml">Data</label>
          <textarea id="yaml" name="yaml" class="form-control" rows="15"
                    ng-model="data.locale.yaml"
                    placeholder="YAML-formatted locale data"></textarea>
        </div>

        <div class="actions row">
          <div>
            <button type="button" class="btn btn-default btn-block" ng-click="cancel()">
              <i class="fa fa-reply"></i> Cancel
            </button>
          </div>

          <div>
            <button type="button" class="btn btn-primary btn-block"
                    ng-disabled="localeForm.$invalid || localeForm.$pistine" ng-click="saveLocale()">
              <i class="fa fa-cloud-upload"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
