<div class="media-file-details">
  <div class="panel panel-default">
    <div class="panel-heading">File Info</div>

    <div class="panel-body">
      <img src="{{media.thumbs.mini}}" alt="{{media.alt}}"/>

      <dl class="smaller word-break-all">
        <dt>Filename</dt>
        <dd>{{media.attachment_file_name}}</dd>

        <dt>File Type</dt>
        <dd>{{media.attachment_content_type}}</dd>

        <dt>File Size</dt>
        <dd>{{media.attachment_file_size | bytes}}</dd>

        <span ng-if="media.dimensions">
          <dt>Dimensions</dt>
          <dd>{{media.dimensions.0}} x {{media.dimensions.1}}</dd>
        </span>

        <dt>Author</dt>
        <dd>{{media.creator.fullname}}</dd>

        <dt>Created</dt>
        <dd>{{media.created_at | date:"y/M/d h:mm:ss a"}}</dd>

        <dt>Last Modified</dt>
        <dd>{{media.updated_at | date:"y/M/d h:mm:ss a"}}</dd>

        <dt>Last Published</dt>
        <dd>Placeholder</dd>

        <dt>Direct URL</dt>
        <dd><a href="{{media.url}}">{{media.url}}</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="media-edit-form">
  <form novalidate name="mediaForm">
    <h4 class="heading-decorative">Image Properties</h4>

    <dl class="dl-horizontal">
      <dt>Media Display Name</dt>
      <dd class="vmargin-bottom-small"><input id="media-display-name" type="text" class="form-control input-sm" ng-model="media.name" required maxlength="100"></dd>

      <dt>Alt Text</dt>
      <dd><input id="media-alt" type="text" class="form-control input-sm" ng-model="media.alt" maxlength="100"></dd>
    </dl>

    <h4 class="heading-decorative">Catalog Data</h4>

    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd class="vmargin-bottom-small">
        <textarea id="media-description" class="form-control input-sm" rows="3" ng-model="media.description"></textarea>
      </dd>

      <dt>Tags</dt>
      <dd class="vmargin-bottom-small">
        <input id="media-tags" type="text" class="form-control input-sm" rows="3" ng-model="data.tags">
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt></dt>
      <dd class="vmargin-bottom-small">
          <button type="button"
              class="btn btn-sm btn-primary"
              ng-disabled="mediaForm.$invalid || !mediaForm.$dirty"
              ng-click="update()">Update</button>
          <button type="button"
              class="btn btn-sm btn-default"
              ng-click="cancel()">Cancel</button>
      </dd>
    </dl>
  </form>
</div>
