<div class="media-edit">
  <div class="media-info">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info-circle"></i> File Info
      </div>
      <div class="panel-body">
        <img src="{{data.media.thumbs.mini}}" alt="{{data.media.alt}}"/>

        <dl class="word-break-all">
          <dt>Filename</dt>
          <dd>{{data.media.attachment_file_name}}</dd>

          <dt>File Type</dt>
          <dd>{{data.media.attachment_content_type}}</dd>

          <dt>File Size</dt>
          <dd>{{data.media.attachment_file_size | bytes}}</dd>

          <span ng-if="data.media.dimensions">
            <dt>Dimensions</dt>
            <dd>{{data.media.dimensions[0]}} x {{data.media.dimensions[1]}}</dd>
          </span>

          <dt>Author</dt>
          <dd>{{data.media.creator.fullname}}</dd>

          <dt>Created</dt>
          <dd>{{data.media.created_at | date:"y/M/d h:mm:ss a"}}</dd>

          <dt>Last Modified</dt>
          <dd>{{data.media.updated_at | date:"y/M/d h:mm:ss a"}}</dd>

          <dt>Last Published</dt>
          <dd>Placeholder</dd>

          <dt>Direct URL</dt>
          <dd><a href="{{data.media.url}}">{{data.media.url}}</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="media-details">
    <form novalidate name="mediaForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-pencil-square-o"></i> Provide Details
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="display-name-container">
              <div class="form-group">
                <label for="display-name">Display Name</label>
                <input id="display-name" name="display-name" type="text" class="form-control"
                       ng-model="data.media.name" placeholder="Friendly media name" required>
              </div>
            </div>

            <div class="expiration-container">
              <div class="form-group">
                <label for="expiration-date">Expiration</label>
                <div class="input-group">
                  <input id="expiration-date" name="expiration-date" type="text" class="form-control"
                         ng-model="data.media.deactive_at" placeholder="Expiration time (optional)"
                         datepicker-popup="{{datepicker.format}}" is-open="datepicker.expireAtOpen"
                         show-weeks="false">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                ng-click="datepicker.open('expireAtOpen')">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control"
                      ng-model="data.media.description"
                      placeholder="Additional details (optional)">
            </textarea>
          </div>

          <div class="tags">
            <label for="tags">Tags</label>
            <div class="tags-group">
              <tags-input display-property="name"
                          type="text"
                          add-on-space="true"
                          placeholder="Enter relevant tags for this post"
                          ng-model="data.media.tag_list"
                          ng-maxlength="255">
                <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
              <span dropdown>
                  <button class="btn btn-default dropdown-toggle" type="button">
                    Popular <i class="caret"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="tag in data.popularTags">
                      <a ng-click="addTag(tag)">{{ tag.name }} <span class="pull-right">{{ tag.count }}</span></a>
                    </li>
                  </ul>
                </span>
              </div>
          </div>

          <div class="actions row">
            <div>
              <button type="button" class="btn btn-default btn-block" ng-click="cancel()">
                <i class="fa fa-reply"></i> Cancel
              </button>
            </div>

            <div>
              <button type="button" class="btn btn-primary btn-block"
                      ng-disabled="mediaForm.$invalid || mediaForm.$pistine" ng-click="update()">
                <i class="fa fa-cloud-upload"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
