<div class="media-file-details">
  <div class="panel panel-default">
    <div class="panel-heading">File Info</div>

    <div class="panel-body">
      <img src="{{media.thumbs.mini}}" alt="{{media.alt}}"/>

      <dl class="smaller word-break-all">
        <dt>Filename</dt>
        <dd>{{media.attachment_file_name}}</dd>

        <dt>File Type</dt>
        <dd>{{media.attachment_content_type}}</dd>

        <dt>File Size</dt>
        <dd>{{media.attachment_file_size | bytes}}</dd>

        <span ng-if="media.dimensions">
          <dt>Dimensions</dt>
          <dd>{{media.dimensions.0}} x {{media.dimensions.1}}</dd>
        </span>

        <dt>Author</dt>
        <dd>{{media.creator.fullname}}</dd>

        <dt>Created</dt>
        <dd>{{media.created_at | date:"y/M/d h:mm:ss a"}}</dd>

        <dt>Last Modified</dt>
        <dd>{{media.updated_at | date:"y/M/d h:mm:ss a"}}</dd>

        <dt>Last Published</dt>
        <dd>Placeholder</dd>

        <dt>Direct URL</dt>
        <dd><a href="{{media.url}}">{{media.url}}</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="media-edit-form">
  <form novalidate name="mediaForm">
    <h4 class="heading-decorative">Image Properties</h4>

    <dl class="dl-horizontal">
      <dt>Media Display Name</dt>
      <dd class="vmargin-bottom-small"><input id="media-display-name" type="text" class="form-control input-sm" ng-model="media.name" required maxlength="100"></dd>

      <dt>Alt Text</dt>
      <dd><input id="media-alt" type="text" class="form-control input-sm" ng-model="media.alt" maxlength="100"></dd>
    </dl>

    <h4 class="heading-decorative">Catalog Data</h4>

    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd class="vmargin-bottom-small"><textarea id="media-description" class="form-control input-sm" rows="3" ng-model="media.description"></textarea></dd>

      <dt>Phase</dt>
      <dd class="vmargin-bottom-small">
        <select id="media-phase" class="form-control input-sm">
          <option>Sample Phase Name 1</option>
          <option>Sample Phase Name 2</option>
          <option>Sample Phase Name n</option>
        </select>
      </dd>

      <dt>Category</dt>
      <dd class="vmargin-bottom-small">
        <select id="media-category" class="form-control input-sm">
          <option>Sample Category 1</option>
          <option>Sample Category 2</option>
          <option>Sample Category n</option>
        </select>
      </dd>

      <dt>Tags</dt>
      <dd class="vmargin-bottom-small"><input id="media-tags" type="text" class="form-control input-sm" rows="3" ng-model="data.tags"></dd>
    </dl>

    <h4 class="heading-decorative">Status</h4>

    <dl class="dl-horizontal heading-decorative">
      <dt>Status</dt>
      <dd class="vmargin-bottom-small">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default" ng-model="media.active" btn-radio="true">Active</button>
          <button type="button" class="btn btn-default" ng-model="media.active" btn-radio="false">Inactive</button>
        </div>
      </dd>

      <dt>Expiration Date</dt>
      <dd class="vmargin-bottom-small input-group form-group">
        <input type="text" class="form-control input-sm" datepicker-popup="{{datepicker.format}}"
             is-open="datepicker.expireAtOpen"
             show-weeks="false"
             ng-model="media.deactive_at" />
        <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="datepicker.open('expireAtOpen')"><i class="fa fa-calendar"></i></button></span>
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt></dt>
      <dd class="vmargin-bottom-small">
          <button type="button"
              class="btn btn-sm btn-primary"
              ng-disabled="mediaForm.$invalid || !mediaForm.$dirty"
              ng-click="update()">Update</button>
          <button type="button"
              class="btn btn-sm btn-default"
              ng-click="cancel()">Cancel</button>
      </dd>
    </dl>
  </form>
</div>
