<div class="actions-and-search">
  <div class="manipulate-actions">
    <button ui-sref="^.^.new" class="btn btn-primary" type="button"><i class="fa fa-plus-square"></i> Create Media</button>
    <button ui-sref="^.^.bulk" class="btn btn-info" type="button"><i class="fa fa-upload"></i> Bulk Create Media</button>
  </div>

  <div class="media-search">
    <delayed-input
        autofocus="true"
        class="form-control"
        ng-model='page.query'
        placeholder="Search Media..."
        delay="500"></delayed-input>
  </div>
</div>

<div class="pagination-sorting">
  <div class="media-sort">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="page-size">Items per page</label>
        <select class="form-control" id="page-size" ng-model="page.perPage">
          <option>5</option>
          <option>10</option>
          <option>25</option>
          <option>50</option>
        </select>
      </div>

      <div class="form-group">
        items per page &bull; Sort by
      </div>

      <div class="form-group">
        <label class="sr-only" for="sort-order">Sort by</label>
        <select class="form-control" id="sort-order">
          <option>Default</option>
          <!--<option>Last modified (recent first)</option>-->
          <!--<option>Last modified (oldest first)</option>-->
          <!--<option>Creation date (recent first)</option>-->
          <!--<option>Creation date (oldest first)</option>-->
          <!--<option>Display name (ascending)</option>-->
          <!--<option>Display name (descending)</option>-->
          <!--<option>Filename (ascending)</option>-->
          <!--<option>Filename (descending)</option>-->
        </select>
      </div>
    </form>
  </div>

  <div class="media-page">
    <div class="pull-left">
      <ng-pluralize count="data.media.length" when="{'1': 'Showing 1 item', 'other': 'Showing {} items'}"></ng-pluralize>
      <span>Page {{ data.paging.page }} of {{ data.paging.pages }}</span>
    </div>

    <ul ng-show="data.paging.pages > 1">
      <li ng-if="data.paging.page > 1"><a ng-click="page.previous()">&laquo;</a></li>
      <li ng-repeat="pageIndex in page.quickPages"><a ng-click="page.flip(pageIndex)">{{ pageIndex }}</a></li>
      <li ng-if="data.paging.page < data.paging.pages"><a ng-click="page.next()">&raquo;</a></li>
    </ul>
  </div>
</div>

<div class="media-tiles">
  <div ng-repeat="media in data.media">
    <div class="media-data-row">
      <div class="media-thumb">
        <a href="{{media.url}}" target="_blank">
          <img ng-if="media.thumbs"
               ng-src="{{ media.thumbs.mini }}"
               alt="Thumbnail"
               class="thumbnail">
          <img ng-if="!media.thumbs"
               ph-img="100x100"
               ph-text="{{ media.content_type | uppercase }}"
               alt="Thumbnail"
               class="thumbnail">
        </a>
      </div>

      <div class="media-data-desc">
        <strong>{{ media.name }}</strong><br>
        {{ media.attachment_file_name }}<br>
        <br>
        <strong>Author: </strong>{{ media.creator.fullname }}<br>
        <strong>Description: </strong>{{ media.description }}<br>
        <strong>Tags: </strong>
          <span ng-click="searchMedia(tag)" class="label label-primary" ng-repeat="tag in media.tag_list">
            {{ tag }}
          </span>
      </div>

      <div class="media-data-actions">
        <strong>Created: </strong> {{ media.created_at|date:"y/M/d h:mm:ss a" }}<br>
        <strong>Last Modified: </strong> {{ moment(media.updated_at).fromNow(); }}<br>
        <br>
        <strong>UID: </strong>{{ media.taxon }}<br>
        <strong>Status: </strong>{{ media.deactive_at != null && (Date().new) >
        moment(media.deactive_at).toDate() ? 'Deactive' : 'Active' }}<br>
        <br>
        <div class="btn-group">
          <button class="btn btn-danger" type="button" ng-click="deleteMedia(media)" ng-if="!media.consumed"><i class="fa fa-trash-o"></i> Delete
          </button>
          <button class="btn btn-primary" type="button"
                  ui-sref="^.^.edit({mediaId: {{media.id}}})"><i class="fa fa-edit"></i> Edit
          </button>
          <button ng-if="$state.includes('cortex.posts')" class="btn btn-primary" type="button" ng-click="selectMedia(media)">
            <i class="fa fa-share"></i> Select
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
