<div class="media-new">
  <form novalidate name="mediaForm" ng-disabled="data.upload.progress">
    <div class="row">
      <div class="media-types">

        <tabset class="content-selector-tabs">
            <tab select="selectTab('file')">
              <tab-heading><i class="fa fa-file-o"></i> Select File</tab-heading>
              <file-selector ng-model="data.media.$file;"
                             ng-required="currentTab == 'file'">
              </file-selector>
            </tab>
            <tab select="selectTab('youtube')">
              <tab-heading><i class="fa fa-youtube"></i> YouTube</tab-heading>
              <youtube-selector ng-model="data.media.$youtube"
                                ng-required="currentTab == 'youtube'">
              </youtube-selector>
            </tab>
        </tabset>

      </div>
    </div>

    <div class="row">
      <div class="media-details">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-pencil-square-o"></i> Provide Details
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="display-name-container">
                <div class="form-group" show-errors>
                  <label for="display-name" class="control-label">Display Name*</label>
                  <input id="display-name" name="display-name" type="text" class="form-control"
                         ng-model="data.media.name" placeholder="Friendly media name" required>
                </div>
              </div>

              <div class="expiration-container">
                <div class="form-group">
                  <label for="expiration-date">Expiration</label>
                  <div class="input-group">
                    <input id="expiration-date" name="expiration-date" type="text" class="form-control"
                           ng-model="data.media.deactive_at" placeholder="Expiration time (optional)"
                           datepicker-popup="{{datepicker.format}}" is-open="datepicker.expireAtOpen"
                           show-weeks="false">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                              ng-click="datepicker.open('expireAtOpen')">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" name="description" class="form-control"
                        ng-model="data.media.description"
                        placeholder="Additional details (optional)">
              </textarea>
            </div>

            <div class="tags">
              <label for="tags">Tags</label>
              <div class="tags-group">
                <tags-input display-property="name"
                            type="text"
                            add-on-space="true"
                            placeholder="Enter relevant tags for this post"
                            ng-model="data.media.tag_list"
                            ng-maxlength="255">
                  <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
                <span dropdown>
                  <button class="btn btn-default dropdown-toggle" type="button">
                    Popular <i class="caret"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="tag in data.popularTags">
                      <a ng-click="addTag(tag)">{{ tag.name }} <span class="pull-right">{{ tag.count }}</span></a>
                    </li>
                  </ul>
                </span>
                </div>
            </div>

            <div class="actions row">
              <div>
                <button type="button" class="btn btn-default btn-block" ng-click="cancel()">
                  <i class="fa fa-reply"></i> Cancel
                </button>
              </div>

              <div>
                <button type="button" class="btn btn-primary btn-block"
                        ng-disabled="mediaForm.$invalid || data.upload.progress" ng-click="saveMedia()">
                  <i class="fa fa-cloud-upload"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
