= redux_store('DashboardStore', props: { environment: environment,
    tenant: (Tenant.find_by_name('Corporate') || current_user.tenant),
    current_user: current_user,
    tenants: Tenant.all,
    sidebarExpanded: (current_page? root_path),
    environment_abbreviated: environment_abbreviated })
