%nav.demo-navigation.mdl-navigation
  = link_to dashboards_path, class: "mdl-navigation__link #{'active' if current_page?(dashboards_path) }" do
    %i.material-icons{:role => "presentation"}> dashboard
    %span.nav__item-name
      Dashboard
  = cell(:content_type, collection: ContentType.all).(:nav)
  .mdl-layout-spacer
  .hidden
    = link_to 'https://github.com/cbdr/cortex', class: 'mdl-navigation__link', target: '_blank' do
      %i.material-icons{:role => "presentation"} help_outline
      %span.visuallyhidden Help
