.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
  %label.mdl-button.mdl-js-button.mdl-button--icon{:for => "search"}
    %i.material-icons search
  .mdl-textfield__expandable-holder
    %input#search.mdl-textfield__input{:type => "text"}
      %label.mdl-textfield__label{:for => "search"} Enter your query...
  %button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
    %i.material-icons more_vert
  %ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right{:for => "hdrbtn"}
    %li.mdl-menu__item About
