.demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
  %header.demo-drawer-header
    %h1 Cortex
  = render 'partials/navigation'
  = render 'partials/tenant_display'
