.layout__sidebar.mdl-layout__drawer.mdl-shadow--0dp
  %header.sidebar__header
    = link_to root_path, class: 'sidebar__root-link' do
      = image_tag 'logo.svg', class: 'sidebar__brand-logo'
      %h1.sidebar__brand-name Cortex
  = render 'partials/navigation'
  = render 'partials/tenant_display'
  .sidebar__toggle-button#sidebar__toggle-button
