.demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
  %header.demo-drawer-header.mdl-color--blue-grey-800
    %h1.display-text
      = image_tag 'logo.svg', class: 'logo'
      Cortex
  = render 'partials/navigation'
  = render 'partials/tenant_display'
