.mdl-layout__drawer
  // TODO removed .demo-drawer, does that break things? and can I remove .demo-drawer-header
  %header.sidebar__beader.demo-drawer-header
    %h1
      = image_tag 'logo.svg', class: 'logo'
      Cortex
  = render 'partials/navigation'
  = render 'partials/tenant_display'
