%header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
  .mdl-layout__header-row
    = render 'partials/breadcrumb'
    .mdl-layout-spacer
    = render 'partials/search'
    = render 'partials/user_control'
