<div class="editor-column">
  <div class="editor-row">
    <textarea ng-model="data.post.body"
              redactor="redactorOptions">
    </textarea>
  </div>
</div>

<div class="details-column">
  <div class="distribute-row">
    <div class="distribute-panel">
      <div class="heading">
        Publish/Distribute
      </div>
      <div class="content">

      </div>
    </div>
  </div>

  <div class="details-row">
    <tabset class="tabs">
      <tab class="info">
        <tab-heading><i class="icon"></i> Info</tab-heading>
        <div class="post-type">
          <button type="button" class="btn btn-default"><i class="fa fa-quote-right"></i> Article</button>
          <button type="button" class="btn btn-default"><i class="fa fa-video-camera"></i> Video</button>
          <button type="button" class="btn btn-default"><i class="fa fa-picture-o"></i> Infographic</button>
          <button type="button" class="btn btn-default"><i class="fa fa-bullhorn"></i> Promo</button>
        </div>
      </tab>
      <tab>
        <tab-heading><i class="fa fa-tag"></i> Classify</tab-heading>
      </tab>
      <tab>
        <tab-heading><i class="fa fa-eye"></i> Display</tab-heading>
      </tab>
      <tab>
        <tab-heading><i class="fa fa-search"></i> SEO</tab-heading>
      </tab>
    </tabset>
  </div>
</div>
