<div class="webpage-edit">
  <tabset class="panel-tabs" justified="true">
    <tab>
      <tab-heading><i class="fa fa-info-circle"></i> Info</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="form-control"
                   ng-model="data.webpage.name" placeholder="Webpage name" required>
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input id="url" name="url" type="text" class="form-control"
                   ng-model="data.webpage.url" placeholder="Webpage URL" required>
          </div>
        </form>
      </div>
    </tab>
    <tab>
      <tab-heading><i class="fa fa-building-o"></i> SEO</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="title">Title (55 characters max)</label>
            <input id="seo_title" name="seo_title" type="text" class="form-control"
                   ng-model="data.webpage.seo_title" placeholder="Page Title" required>
          </div>
          <div class="form-group">
            <label for="description">Description (155 characters max)</label>
            <textarea id="seo_description" name="seo_description" class="form-control"
                      ng-model="data.webpage.seo_description" placeholder="Page Description" required></textarea>
          </div>

          <div class="keywords tags">
            <label>Keywords</label>

            <div class="tags-group">
              <tags-input display-property="name"
                          type="text"
                          add-on-space="true"
                          placeholder="Enter HTML meta keywords for this webpage"
                          ng-model="data.webpage.seo_keyword_list"
                          ng-maxlength="255">
              </tags-input>
            </div>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="noindex" id="noindex" ng-model="data.webpage.noindex"> Don't Index This Page
              In Search Engines (<strong>noindex</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="nofollow" id="nofollow" ng-model="data.webpage.nofollow"> Don't Index Any
              Pages This Page Links To (<strong>nofollow</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="nosnippet" id="nosnippet" ng-model="data.webpage.nosnippet"> Don't Show A
              Snippet in Google Search Results (<strong>nosnippet</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noodp" id="noodp" ng-model="data.webpage.noodp"> Don't Show Description from
              ODP/DMOZ (<strong>noodp</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noarchive" id="noarchive" ng-model="data.webpage.noarchive"> Don't Show
              "Cached" Link on Google Search Results (<strong>noarchive</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noimageindex" id="noimageindex" ng-model="data.webpage.noimageindex"> Don't
              Show This Page As the Source For Images in Google Image Search (<strong>noimageindex</strong>)
            </label>
          </div>
        </form>
      </div>
    </tab>
    <tab>
      <tab-heading><i class="fa fa-book"></i> Dynamic Yield</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="dynamic_yield_sku">SKU/ID</label>
            <input id="dynamic_yield_sku" name="dynamic_yield_sku" type="text" class="form-control"
                   ng-model="data.webpage.dynamic_yield_sku" placeholder="SKU/ID, such as 'FMRDBSPP'">
          </div>
          <div class="form-group">
            <label for="dynamic_yield_category">Category</label>
            <input id="dynamic_yield_category" name="dynamic_yield_category" type="text" class="form-control"
                   ng-model="data.webpage.dynamic_yield_category" placeholder="Category, such as 'PRODUCT'">
          </div>
        </form>
      </div>
    </tab>
    <tab>
      <tab-heading><i class="fa fa-puzzle-piece"></i> Widgets</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="tables_widget_yaml">Tables Data</label>
            <textarea id="tables_widget_yaml" name="tables_widget_yaml" class="form-control" rows="15"
                      ng-model="data.webpage.tables_widget_yaml"
                      placeholder="YAML-formatted table data"></textarea>
          </div>
          <div class="form-group">
            <label for="accordion_group_widget_yaml">Accordion Group Data</label>
            <textarea id="accordion_group_widget_yaml" name="accordion_group_widget_yaml" class="form-control" rows="15"
                      ng-model="data.webpage.accordion_group_widget_yaml"
                      placeholder="YAML-formatted accordion group data"></textarea>
          </div>
        </form>
      </div>
    </tab>
  </tabset>

  <iframe class="webpage-frame" id="webpage-frame"
          ng-src="{{ data.webpage.url + '?editing_mode=1' | trustAsResourceUrl }}" disabled></iframe>
</div>
