<div class="webpage-edit">
  <tabset class="panel-tabs" justified="true">
    <tab>
      <tab-heading><i class="fa fa-info-circle"></i> Info</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="form-control"
                   ng-model="data.webpage.name" placeholder="Webpage name" required>
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input id="url" name="url" type="text" class="form-control"
                   ng-model="data.webpage.url" placeholder="Webpage URL" required>
          </div>
        </form>
      </div>
    </tab>
    <tab>
      <tab-heading><i class="fa fa-building-o"></i> SEO</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <label for="title">Title (55 characters max)</label>
            <input id="seo_title" name="seo_title" type="text" class="form-control"
                   ng-model="data.webpage.seo_title" placeholder="Page Title" required>
          </div>
          <div class="form-group">
            <label for="description">Description (155 characters max)</label>
            <textarea id="seo_description" name="seo_description" class="form-control"
                      ng-model="data.webpage.seo_description" placeholder="Page Description" required></textarea>
          </div>

          <div class="keywords tags">
            <label>Keywords</label>

            <div class="tags-group">
              <tags-input display-property="name"
                          type="text"
                          add-on-space="true"
                          placeholder="Enter HTML meta keywords for this webpage"
                          ng-model="data.webpage.seo_keyword_list"
                          ng-maxlength="255">
              </tags-input>
            </div>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="noindex" id="noindex" ng-model="data.webpage.noindex"> Don't Index This Page
              In Search Engines (<strong>noindex</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="nofollow" id="nofollow" ng-model="data.webpage.nofollow"> Don't Index Any
              Pages This Page Links To (<strong>nofollow</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="nosnippet" id="nosnippet" ng-model="data.webpage.nosnippet"> Don't Show A
              Snippet in Google Search Results (<strong>nosnippet</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noodp" id="noodp" ng-model="data.webpage.noodp"> Don't Show Description from
              ODP/DMOZ (<strong>noodp</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noarchive" id="noarchive" ng-model="data.webpage.noarchive"> Don't Show
              "Cached" Link on Google Search Results (<strong>noarchive</strong>)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="noimageindex" id="noimageindex" ng-model="data.webpage.noimageindex"> Don't
              Show This Page As the Source For Images in Google Image Search (<strong>noimageindex</strong>)
            </label>
          </div>
        </form>
      </div>
    </tab>
    <tab ng-click="tabClicked(88)">
      <tab-heading><i class="fa fa-wpforms"></i> Web Forms</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="form_configs_yaml" name="form_configs_yaml" rows="50"
              ng-model="data.webpage.form_configs_yaml"
              placeholder="YAML-formatted form configs"></div>
          </div>
        </form>
      </div>
    </tab>
    <tab ng-click="tabClicked(77)">
      <tab-heading><i class="fa fa-book"></i> Product Data</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <div class="form-group">
            <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="product_data_yaml" name="product_data_yaml"
                 ng-model="data.webpage.product_data_yaml"
                 placeholder="YAML-formatted product data"></div>
          </div>
        </form>
      </div>
    </tab>
    <tab  ng-click="tabClicked(1)">
      <tab-heading><i class="fa fa-puzzle-piece"></i> Widgets</span></tab-heading>
      <div>
        <form novalidate name="webpageForm">
          <tabset class="panel-tabs" justified="true">
            <tab ng-click="tabClicked(1)">
              <tab-heading>Tables Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="tables_widget_yaml">Tables Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="tables_widget_yaml" name="tables_widget_yaml" rows="20"
                      ng-model="data.webpage.tables_widget_yaml"
                      placeholder="YAML-formatted table data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(2)">
              <tab-heading>Carousels Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="carousels_widget_yaml">Carousels Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="carousels_widget_yaml" name="carousels_widget_yaml"
                      ng-model="data.webpage.carousels_widget_yaml"
                      placeholder="YAML-formatted carousel data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(3)">
              <tab-heading>Accordion Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="accordion_group_widget_yaml">Accordion Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="accordion_group_widget_yaml" name="accordion_group_widget_yaml"
                      ng-model="data.webpage.accordion_group_widget_yaml"
                      placeholder="YAML-formatted accordion group data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(4)">
              <tab-heading>Charts Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="charts_widget_yaml">Charts Data</label>
                <div  ui-codemirror="cmOptions" ui-refresh='selectedTab' id="charts_widget_yaml" name="charts_widget_yaml"
                      ng-model="data.webpage.charts_widget_yaml"
                      placeholder="YAML-formatted chart data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(5)">
              <tab-heading>Buy Box Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="buy_box_widget_yaml">Buy Box Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="buy_box_widget_yaml" name="buy_box_widget_yaml"
                      ng-model="data.webpage.buy_box_widget_yaml"
                      placeholder="YAML-formatted buy box data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(6)">
              <tab-heading>Galleries Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="galleries_widget_yaml">Galleries Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="galleries_widget_yaml" name="galleries_widget_yaml"
                      ng-model="data.webpage.galleries_widget_yaml"
                      placeholder="YAML-formatted galleries data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(7)">
              <tab-heading>Cards Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="card_group_widget_yaml">Card Group Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="card_group_widget_yaml" name="card_group_widget_yaml"
                      ng-model="data.webpage.card_group_widget_yaml"
                      placeholder="YAML-formatted card group data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(8)">
              <tab-heading>Slider Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="slider_widget_yaml">Slider Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="slider_widget_yaml" name="slider_widget_yaml"
                      ng-model="data.webpage.slider_widget_yaml"
                      placeholder="YAML-formatted card group data"></div>
              </div>
            </tab>
            <tab ng-click="tabClicked(9)">
              <tab-heading>Product Info Data</span>
              </tab-heading>
              <div class="form-group">
                <label for="product_information_widget_yaml">Product Info Data</label>
                <div ui-codemirror="cmOptions" ui-refresh='selectedTab' id="product_information_widget_yaml" name="product_information_widget_yaml"
                      ng-model="data.webpage.product_information_widget_yaml"
                      placeholder="YAML-formatted card group data"></div>
              </div>
            </tab>
          </tabset>
        </form>
      </div>
    </tab>
  </tabset>

  <iframe ng-if="data.webpage.url" class="webpage-frame" id="webpage-frame"
          ng-src="{{ appendEditingParamsToUrl(data.webpage.url) | trustAsResourceUrl }}" disabled></iframe>
</div>
