%div{class: ['mdl-cell', grid_class]}
  %p
    = description
  - elements.each do |element|
    - if element.keys.include?("id")
      = cell(Cortex::Wizard::FieldCell, element).()
    - elsif element.keys.include?("plugin")
      = cell(Cortex::Wizard::PluginCell, nil, plugin_info: element[:plugin]).()
    - elsif element.keys.include?("method")
      = "Method is currently unimplemented"
