.col-md-4.col-md-offset-4
  .text-center
    %h2 Cortex
  .row
    .panel.panel-default
      .panel-heading
        %span.text-muted Sign In
      .panel-body
        = form_for(:user, controller: 'home', action: 'submit_password_reset',
                   html: {role: 'password-reset', novalidate: '', name: 'passwordReset'}) do |f|
          .form-group
            = f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'Email', required: '',
                           type: :email, 'ng-model' => 'passwordReset.login'
          = f.submit 'Send Password Reset', class: 'btn btn-primary btn-block', disabled: '', 'ng-disabled' => 'passwordReset.$invalid'
