<div class="actions-and-search">
  <div class="manipulate-actions">
    <button ui-sref="" class="btn btn-primary" type="button"><i class="fa fa-plus-square"></i> Create Webpage</button>
  </div>
</div>

<div class="tiles">
  <div class="webpage-tile-column">
    <div class="webpage-tile">
      <a href="http://corporate.careerbuilder.com/"><img src="http://whump.net/files/upload/corporate_site.png" alt="CB1 Landing Page"></a>
      <div class="caption">
        <h3>CB1 Landing Page</h3>
        <p>
          <button type="button" class="btn btn-danger" ng-click="">Delete</button>
          <button type="button" class="btn btn-primary" ng-click="">Edit</button>
        </p>
      </div>
    </div>
  </div>
</div>
