.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %table.mdl-data-table.mdl-js-data-table.index
      = cell('index', @index, data: data).(:table_headers)
      = cell('index', @index, data: data).(:table_body)
