%table{ class: 'mdl-data-table mdl-js-data-table', style: 'width: 100%;' }
  = cell('index', @index, data: data).(:table_headers)
  = cell('index', @index, { data: data, content_type: @options[:content_type] }).(:table_body)
