%thead
  %tr
    - @options[:data][:columns].each do |column|
      %th{ class: 'mdl-data-table__cell--non-numeric' }
        = render_table_header(column)
    - if context[:popup]
      %th{ class: 'mdl-data-table__cell--non-numeric' }
        Select
    - else
      %th{ class: 'mdl-data-table__cell--non-numeric' }
        Edit
