%tbody
  - @options[:content_type].content_items.each do |content_item|
    %tr
      - @options[:data][:columns].each do |column|
        %td{ class: 'mdl-data-table__cell--non-numeric' }
          = cell('index/content_item', nil, { cells: column[:cells], content_item: content_item }).(:column)
      - if @options[:popup]
        %td{ class: 'mdl-data-table__cell--non-numeric' }
          = link_to edit_content_type_content_item_path(@options[:content_type].id, content_item.id), class: 'mdl-button mdl-js-button mdl-button--icon' do
            %i{ class: 'material-icons' }
              add
      - else
        %td{ class: 'mdl-data-table__cell--non-numeric' }
          = link_to edit_content_type_content_item_path(@options[:content_type].id, content_item.id), class: 'mdl-button mdl-js-button mdl-button--icon' do
            %i{ class: 'material-icons' }
              create
