%tbody
  - @options[:content_type].content_items.each do |content_item|
    %tr
      - @options[:data][:columns].each do |column|
        %td{ class: 'mdl-data-table__cell--non-numeric' }
          = cell('index/content_item', nil, { cells: column[:cells], content_item: content_item }).(:column)
      %td{ class: 'mdl-data-table__cell--non-numeric' }
        = cell('buttons', content_item).(:edit_button)
