%dialog.mdl-dialog#mediaInsert{ 'data-type': 'insert'  }
  .mdl-dialog__content
    = cell('index', media_index, content_type: media_content_type).(:index)
  .mdl-dialog__actions.mdl-dialog__actions
    .mdl-button.mdl-js-button.mdl-button--raised.close CLOSE
%dialog.mdl-dialog#mediaFeatured{ 'data-type': 'featured' }
  .mdl-dialog__content
    = cell('index', media_index, content_type: media_content_type).(:index)
  .mdl-dialog__actions.mdl-dialog__actions
    .mdl-button.mdl-js-button.mdl-button--raised.close CLOSE
%dialog.mdl-dialog#mediaTile{ 'data-type': 'tile' }
  .mdl-dialog__content
    = cell('index', media_index, content_type: media_content_type).(:index)
  .mdl-dialog__actions.mdl-dialog__actions
    .mdl-button.mdl-js-button.mdl-button--raised.close CLOSE
