%section
  .mdl-color--grey.header.relative.clear
    .p-20
      %h3.mdl-color-text--white.m-t-20.m-b-5
        = "#{@content_type.name} Creation"
      %h4.mdl-color-text--white.m-b-20.no-m-t.w100
        = @content_type.description
  = render "form"
