= link_to new_content_type_content_item_path(content_type), id: "view-source", class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do
  %i.material-icons add

%ul
  - @content_items.each do |content_item|
    %li
      = link_to "Edit #{content_item.id}", edit_content_type_content_item_path(content_type, content_item)
