.media-new {

  .media-types, .media-details {
    @include make-lg-column(12);
  }

  .display-name-container, .expiration-container, .actions div {
    @include make-lg-column(6);
  }

  .content-selector-tabs {
    .tab-content {
      @extend .panel;
      @extend .panel-default;
      @extend .panel-body;

      border-top: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
  textarea {
    resize: none;
  }
}
