////////////////////////////////
// Inputs

.admin-posts {

  .post-form-main {
    @include make-md-column(8, 0);

    .input-group .post-datetimepicker {
      min-width: 25em;
    }
  }

  .post-form-side {
    @include make-md-column(4, 0);
  }

  .post-action-buttons {
    @include make-md-column(8, 0);
  }

  .post-form-main, .post-action-buttons {
    @media (min-width: $screen-md-min) {
      padding-right: $standard-margin * 2;
    }
  }

  .media-selector {
    @extend .row;

    .thumb {
      @include make-md-column(4);
    }

    .info {
      @include make-md-column(4.5);
    }

    .actions {
      @include make-md-column(3.5);
      @extend .btn-group-vertical;
    }
  }

  // Emphasize border of editor
  .redactor_editor {
    border: 1px solid #cccccc;
    border-top: none;
  }

  .has-error span.glyphicon-remove {
    color: $brand-danger;
  }
}