#post-grid {
  height: 400px;
}

#batch-and-search {
  margin-bottom: 10px;
}

.post-search {
  @extend .pull-right;
  width: 250px;
}

.posts-grid {
  @include make-md-column(12);
}

////////////////////////////////
// Posts Index Table

.posts-table th{
  cursor: default;
  background: white;
}

.posts-table thead tr:hover {
  color: black;
}

.posts-table tbody tr:hover {
  @extend .btn:hover;
}
