.admin-posts {
  @extend .row;

  .composer-column {
    @include make-md-column(8);

    .composer {
      @extend .form-group;

      .editor {
        @extend .form-control;
      }
    }
  }

  .details-column {
    @include make-md-column(4);

    .publish-row {
      @extend .row;

      .publish-column {
        @include make-md-column(12);

        .publish-panel {
          @extend .panel, .panel-default;

          .heading {
            @extend .panel-heading;
          }

          .content {
            @extend .panel-body;

            .draft {
              @include make-md-column(12);
            }

            .actions {
              @include make-md-column(12);

              button.cancel {
                @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
              }

              button.submit {
                @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
              }
            }

            .date-columns {
              @include make-md-column(12);
            }

            .publish-date {
              @include make-md-column(6);
            }

            .expiration-date {
              @include make-md-column(6);
            }

          }
        }
      }
    }

    .metadata-row {
      @extend .row;

      .metadata-column {
        @include make-md-column(12);

        .panel-tabs {
          @extend .hidden-xs, .hidden-sm;

          .tab-content {
            @extend .panel;
            @extend .panel-default;
            @extend .panel-body;

            border-top: none;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }

          .info {
            .post-type-group {
              @extend .form-group;
            }
          }
        }

        .panel-accordion {
          @extend .hidden-md, .hidden-lg;
        }
      }
    }
  }
}
