.actions-and-search {
  @extend .row;
  margin-bottom: $standard-margin;

  .manipulate-actions {
    @include make-md-column(8);
    @extend .pull-left;
  }

  .post-search {
    @include make-md-column(4);
    @extend .pull-right;
  }
}

.posts-grid {
  @include make-md-column(12);
}

////////////////////////////////
// Posts Index Table

.posts-table th{
  cursor: default;
  background: white;
}

.posts-table thead tr:hover {
  color: black;
}

.posts-table tbody tr:hover {
  @extend .btn:hover;
}

.posts-table .pagination {
  margin: 0;
}
