.admin-posts {
  .editor-column {
    @include make-md-column(8);

    .editor-row {
      @extend .row;
      margin-right: $standard-margin / 2; // Scree!

      .editor-control {
        @extend .form-control;
      }
    }
  }

  .details-column {
    @include make-md-column(4);

    .distribute-row {
      @extend .row;

      .distribute-panel {
        @extend .panel, .panel-default;

        .heading {
          @extend .panel-heading;
        }

        .content {
          @extend .panel-body;
        }
      }
    }

    .details-row {
      @extend .row;

      .tabs {
        .tab-content {
          @extend .panel;
          @extend .panel-default;
          @extend .panel-body;

          border-top: none;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }

        .info {
          tab-heading {
            i.icon {
              @extend .fa, .fa-info-circle;
            }
          }

          .post-type {
            @extend .btn-group;
          }
        }
      }
    }
  }
}