%div{class: ['mdl-cell', grid_class]}
  - elements.each do |element|
    - if element.keys.include?("id")
      = cell('wizard/field', element)
    - elsif element.keys.include?("cell")
      = cell(element[:cell][:class_name]).(element[:cell][:render_method])
    - elsif element.keys.include?("method")
      = "Method is currently unimplemented"
