%div{class: ['mdl-cell', grid_class]}
  - fields.each do |field|
    - if field.keys.include?("id")
      = cell('wizard/field', field)
    - elsif field.keys.include?("method")
      = "Method is currently unimplemented"
