// Color Definitions

$color-teal: #63C0B9;
$color-teal-dark: #54A1A1;
$color-teal-light: #A1D9D5;

$color-orange: #F79C25;
$color-orange-dark: #E78523;
$color-orange-light: #FED473;

$color-anchor-blue-light: #747D8E;

$color-grey: #BBB;
$color-grey-dark: #333;
$color-grey-light: #D4D4D4;
$color-grey-lightest: #DDD;
$color-grey-extralight: #F4F4F4;

$color-white: white;


// Color Semantics

$employer-color: $color-teal;
$employer-color-dark: $color-teal-dark;
$employer-color-light: $color-teal-light;

$ar-color: $color-orange;
$ar-color-dark: $color-orange-dark;
$ar-color-light: $color-orange-light;
