// Color Definitions

$teal: #63C0B9;
$teal-dark: #54A1A1;
$teal-light: #A1D9D5;

$orange: #F79C25;
$orange-dark: #E78523;
$orange-light: #FED473;

$anchor-blue-light: #747D8E;

$grey: #BBB;
$grey-dark: #333;
$grey-light: #DDD;


// Color Semantics

$employer: $teal;
$employer-dark: $teal-dark;
$employer-light: $teal-light;

$ar: $orange;
$ar-dark: $orange-dark;
$ar-light: $orange-light;
