// Color Definitions

$color-teal: #63C0B9;
$color-teal-dark: #54A1A1;
$color-teal-light: #A1D9D5;

$color-orange: #F79C25;
$color-orange-dark: #E78523;
$color-orange-light: #FED473;

$color-anchor-blue-light: #747D8E;

$color-green: #009b74;

$color-slate-grey: #6E788F;
$color-grey: #BBB; // Type
$color-grey-dark: #333; // Type, Sidebar background, Login page background
$color-grey-light: #D4D4D4; // Content background color
$color-grey-lightest: #DDD; // Disabled and flat button background color
$color-grey-evenlighter: #E4E4E4;
$color-grey-reallylight: #F2F2F2;
$color-grey-extralight: #F4F4F4; // Wizard Instruction Panel background color

$color-red: #d85252;

$color-white: white; // Header
$color-black: #000000;


// Color Semantics

$employer-color: $color-teal;
$employer-color-dark: $color-teal-dark;
$employer-color-light: $color-teal-light;

$flash-error-background: $color-red;
$flash-success-background: $color-green;

$ar-color: $color-orange;
$ar-color-dark: $color-orange-dark;
$ar-color-light: $color-orange-light;

$notes-text: #6E788F;

$jumbo-button-text: #6E788F;
$jumbo-button-hover-background: $color-grey-evenlighter;
$jumbo-button-active-background: $color-grey-reallylight;
