@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  src: url(asset_path('Montserrat-Regular.otf')) format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url(asset_path('Montserrat-SemiBold.otf')) format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: lighter;
  src: url(asset_path('Montserrat-Light.otf')) format("opentype");
}

$cortex-font-stack: Montserrat, sans-serif;
$base-font-size: 1em;

.display-text { // Cortex Logo
  color: $grey-dark;
  font-family: $cortex-font-stack;
  font-weight: normal;
  font-size: 2.1775em;
}

h1,
.text-size-1 { // Bread Crumbs and Page Headers
  color: $teal;
  font-family: $cortex-font-stack;
  font-weight: bold;
  font-size: 1.17em;
}

h2,
.text-size-2 { // Side Nav
  color: $grey;
  font-family: $cortex-font-stack;
  font-weight: lighter;
  font-size: 1.17em;
}

h3,
.text-size-3 { // Side Nav Selected
  color: $grey;
  font-family: $cortex-font-stack;
  font-weight: bold;
  font-size: 1.17em;
}

h4,
.text-size-4 { // Section Headers, Dropdowns, Button Text
  color: $grey-dark;
  font-family: $cortex-font-stack;
  font-size: 0.83em;
}

h5,
.text-size-5 { // Field Text
  color: $grey;
  font-family: $cortex-font-stack;
  font-weight: lighter;
  font-size: $base-font-size;
}

h6,
.text-size-6 { // Field Text Filled
  color: $anchor-blue-light;
  font-family: $cortex-font-stack;
  font-size: $base-font-size;
}

.text-size-7 { // Help Notes
  color: $anchor-blue-light;
  font-family: $cortex-font-stack;
  font-weight: lighter;
  font-size: 0.67em;
}

p {
  color: $grey-dark;
  font-family: $cortex-font-stack;
  font-size: $base-font-size;
}
