.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    %a.mdl-tabs__tab.is-active{:href => "#legacy-panel"} Legacy
    %a.mdl-tabs__tab{:href => "#admin-panel"} Beta
  #legacy-panel.mdl-tabs__panel.is-active
    = render 'partials/authentication/login/legacy'
  #admin-panel.mdl-tabs__panel
    = render 'partials/authentication/login/admin'
