= context[:form].fields_for 'field_items', field do |field_item_form|
  - if field.field_type == "text_field_type"
    = cell('cortex/field_types/core/text/text', FieldItem.new(field: field), form: field_item_form, default_value: '').(:input)
  - if field.field_type == "boolean_field_type"
    = cell('cortex/field_types/core/boolean/boolean', FieldItem.new(field: field), form: field_item_form, default_value: false).(:checkbox)
