<div class="actions-and-search" class="clearfix">
  <div class="manipulate-actions">
    <button ui-sref="cortex.localizations.localization.new_locale" class="btn btn-primary" type="button"><i class="fa fa-plus-square"></i> Create Locale</button>
  </div>
</div>

<table ng-table="localeDataParams" class="table locales-table">
  <tr ng-repeat="locale in $data">
    <td data-title="'Name'">{{ locale.name }}</td>
    <td data-title="'Owner'">{{ locale.creator.fullname }}</td>
    <td data-title="'Created'">{{ locale.created_at|date:"y/MM/dd h:mm:ss a" }}</td>
    <td data-title="'Modified'">{{ locale.updated_at|date:"y/MM/dd h:mm:ss a" }}</td>
    <td>
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-danger" ng-click="deleteLocale(locale)">Delete</button>
        <button type="button" class="btn btn-info" ng-click="duplicateLocale(locale)">Duplicate</button>
        <button type="button" class="btn btn-primary" ng-click="editLocale(locale)">Edit</button>
      </div>
    </td>
  </tr>
</table>
