%marquee{direction: 'down', behavior: 'alternate'}
  %marquee{behavior: 'alternate'}
    %center
      %h2
        Welcome to my Web Site!
      %h4
        Join my Web Ring
%center
  %img{src: 'http://whump.net/files/upload/398533_Pikaconstruction.GIF'}
  %img{src: 'http://www.animate-gif.de/counter/Counter36.gif', style: 'position: fixed; bottom: 0;'}
