.content-type-creator-steps {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.content-type-step--footer {
  justify-content: flex-end;
  display: flex;
}
.content-type-new-field-button {
    width: 100%;
}

.content-type-editor {
    .side-buttons {
      font-size: 14px;
      display: flex;
      float:right;
    }
}

.content-type-icon-option {
  display: flex;
  i {
    margin-right: 20px;
  }
}

.content-type-add-field {
  background: #b3d4fc;

  .node {
    width: auto;
  }

  .buttons-column {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.content-type-editor-add-button {
  background-color: $employer-color;
  margin-top: 20px;
  color: white;
}

.step-icons {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgb(0, 188, 212);
  border-radius: 50%;
  font-size: 24px;
  height: 35px;
  width: 35px;
  border: 1px solid rgb(0, 188, 212);
  content: &#xE5CA;
}

button.step-icons:disabled {
  background-color: rgb(158, 158, 158);
}

.step-container {
  padding: 0 20px;
}

/* Simple setup for this demo */

.mdl-card__supporting-text {
  width: 100%;
  padding: 0;
}

 .mdl-stepper-step {
  width: 100%;
  /* 100 / no_of_steps */
}

 .mdl-stepper-step {
  position: relative;
  padding: 24px;
}

 .mdl-stepper-step:hover,
 .mdl-stepper-step:active {
  background-color: rgba(0, 0, 0, .06);
}

 .mdl-stepper-step:active {
  border-radius: 15% / 75%;
}

 .mdl-stepper-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

 .mdl-stepper-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

 .mdl-stepper-step:hover .mdl-stepper-circle {
  background-color: #757575;
}

 .mdl-stepper-step:first-child .mdl-stepper-bar-left,
 .mdl-stepper-step:last-child .mdl-stepper-bar-right {
  display: none;
}

 .mdl-stepper-step .mdl-stepper-circle {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

 .mdl-stepper-step.active-step .mdl-stepper-circle {
  background-color: rgb(33, 150, 243);
}

 .mdl-stepper-step.step-done .mdl-stepper-circle:before {
  content: "\2714";
}

 .mdl-stepper-step.step-done .mdl-stepper-circle *,
 .mdl-stepper-step.editable-step .mdl-stepper-circle * {
  display: none;
}

 .mdl-stepper-step.editable-step .mdl-stepper-circle {
  -moz-transform: scaleX(-1);
  /* Gecko */
  -o-transform: scaleX(-1);
  /* Opera */
  -webkit-transform: scaleX(-1);
  /* Webkit */
  transform: scaleX(-1);
  /* Standard */
}

 .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
  content: "\270E";
}

 .mdl-stepper-step .mdl-stepper-title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: normal;
}

 .mdl-stepper-step .mdl-stepper-title,
 .mdl-stepper-step .mdl-stepper-optional {
  text-align: center;
  color: rgba(0, 0, 0, .26);
}

 .mdl-stepper-step.active-step .mdl-stepper-title {
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
}

 .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
 .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
  font-weight: 300;
}

 .mdl-stepper-step .mdl-stepper-optional {
  font-size: 12px;
}

 .mdl-stepper-step.active-step .mdl-stepper-optional {
  color: rgba(0, 0, 0, .54);
}

 .mdl-stepper-step .mdl-stepper-bar-left,
 .mdl-stepper-step .mdl-stepper-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #BDBDBD;
}

 .mdl-stepper-step .mdl-stepper-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

 .mdl-stepper-step .mdl-stepper-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}
