.dialog-div {
  position: fixed;
  background: $color-white;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0980392);
  z-index: 1000;
}

.mdl-dialog {
  width: auto;
  margin: 0;
  top: 90px;
  right: 50px;
  left: 300px;
  padding: 0;
  overflow: hidden;
  padding-bottom: 52px;
  max-height: 80vh;
  box-sizing: border-box;
}

.mdl-dialog-media {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 70vh;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: $color-white;
}

.mdl-dialog__content {
  padding: 0;
}

.content-item-button {
  display: flex;
  justify-content: center;

  border: 1px solid $color-grey;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: $color-white;
  color: $color-anchor-blue-light;
  text-align: center;

  &:active {
    background-color: $color-grey-lightest;
  }

  &:hover {
    cursor: pointer;
  }
}

.content-item-button__select {
  flex-basis: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.content-item-button__selection {
  flex-basis: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
  border-left: 1px solid $color-grey;

  img {
    margin-bottom: 5px;
  }
}

.content-item-button__select__text {
  @extend .text-style-7;
}

.content-item-button__selection__text {
  @extend .text-style-7;
}
