.mdl-dialog {
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.mdl-dialog__title {
  font-family: $cortex-font-stack;
  font-weight: bold;
  font-size: 1.17rem;
}

.content-item-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $color-grey;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: $color-white;
  color: $color-anchor-blue-light;
  text-align: center;
  min-height: 100px;

  &:active {
    background-color: $color-grey-lightest;
  }

  &:hover {
    cursor: pointer;
  }
}

.content-item-button__select {
  flex-basis: 50%;
}

.content-item-button__selection {
  flex-basis: 50%;
  border-left: 1px solid $color-grey;

  img {
    margin-bottom: 5px;
  }
}

.content-item-button__select__text {
  @extend .text-style-7;
}

.content-item-button__selection__text {
  @extend .text-style-7;
}

.blur {
  @include filter(grayscale(1) blur(3px));
}
