.flash--invert {
  .mdl-snackbar {
    background-color: $color-white;
    border: 1px solid $color-grey-dark;
    border-bottom: none;
  }

  .mdl-snackbar__text {
    color: $color-grey-dark;
  }
}

.flash--warning {
  background-color: $flash-error-background;
}

.flash--success {
  background-color: $flash-success-background;

  img {
    display: inline;
    vertical-align: top;
  }
}

.mdl-snackbar__text {
  display: none;
  font-size: 0.9285rem;
}

.flash--header__text {
  font-size: inherit;
  color: inherit;
  margin: 0;
}

.mdl-snackbar__close {
  position: absolute;
  top: 4px;
  right: 4px;
  color: $color-white;
  cursor: pointer;

  &:hover {
    color: $color-grey;
  }
}

.mdl-snackbar--active {
  font-family: $cortex-font-stack;

  .mdl-snackbar__text {
    display: block;
  }

  i.material-icons {
    vertical-align: bottom;
    font-size: 	1.25rem;
  }
}
