.wizard__instruction-panel {
  background-color: $color-grey-extralight;
}

.wizard__step__name {
  @include wizard-step-heading;
}

.wizard__step__description {
  @include wizard-step-description;
}

// Overrides

.mdl-textfield {
  width: auto;
  display: block;
}

form {
  .mdl-button {
    float: right;
  }
}

.mdl-button--success {
  background-color: $color-teal-dark;
  color: white;

  &:hover {
    background-color: $color-teal-dark;
    color: white;
  }

  &:active {
    background-color: $color-teal;
    color: white;
  }
}

.mdl-button--cb {
  background-color: none;
  color: $color-teal-dark;

  &:hover {
    background-color: none;
    color: $color-teal-dark;
  }

  &:active {
    background-color: $color-grey-lightest;
    color: $color-teal-dark;
  }
}

div.bootstrap-tagsinput input {
  width: 100% !important;
}

// Extras
