.wizard__step__name {
  @include wizard-step-heading;
}

.wizard__step__description {
  @include wizard-step-description;
}

// Overrides

.mdl-textfield {
  width: auto;
  display: block;
}

form {
  .mdl-button {
    float: right;
  }
}

.mdl-button--success {
  background-color: #54a1a1;
  color: white;

  &:hover {
    background-color: #54a1a1;
    color: white;
  }

  &:active {
    background-color: #63c0b9;
    color: white;
  }
}

.mdl-button--cb {
  background-color: none;
  color: #54a1a1;

  &:hover {
    background-color: none;
    color: #54a1a1;
  }

  &:active {
    background-color: #dddddd;
    color: #54a1a1;
  }
}

div.bootstrap-tagsinput input {
  width: 100% !important;
}

.ui-datepicker {
  background-color: #FEFEFE;
  border-radius: 3px;
  padding: 5px;
  padding-right: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

// Extras
