.wizard__step__name {
  @include wizard-step-heading;
}

.new_content_item .wizard__step:last-of-type .wizard__instruction-panel .p-40,
.new_content_item .wizard__step:last-of-type .card-holder.p-20 {
  padding-bottom: 0;
}

.new_content_item footer .mdl-button {
  margin: 0 3px;
}

// Overrides

.mdl-textfield {
  width: auto;
  display: block;
}

form {
  .mdl-button {
    float: right;
  }
}

.mdl-textfield__input {
  @extend .text-style-6;

  &:placeholder {
    @extend .text-style-5;
  }
}

// Tags

div.bootstrap-tagsinput input {
  width: 100% !important;
}
.cortex-bootstrap .label {
  border-radius: 0.75em;
  font-weight: normal;
}

.cortex-bootstrap .label-info {
  background-color: $color-grey;
}

.bootstrap-tagsinput .tag {
  text-transform: uppercase;
}

// Extras
