footer .mdl-button {
  margin: 0 3px;
}

// Overrides

.mdl-textfield {
  width: auto;
  display: block;

  .tooltip-icon {
    position: absolute;
    right: 0;
    top: 8%;
  }
}

.mdl-textfield__label {
  font-size: $base-font-size !important;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: $color-black !important;
}

form {
  .mdl-button {
    float: right;
  }
}

.mdl-textfield__input {
  @extend .text-style-6;

  &:placeholder {
    @extend .text-style-5;
  }
}

// Tags
.bootstrap-tagsinput {
  width: 100%;
  border-radius: 0 !important;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $color-grey-light;
}
.cortex-bootstrap .label {
  border-radius: 0.75em;
  font-weight: normal;
}

.cortex-bootstrap .label-info {
  background-color: $color-grey;
}

.bootstrap-tagsinput .tag {
  text-transform: uppercase;
}

// Extras
.tooltip-icon {
  color: $color-grey;
  font-size: $base-font-size * 1.25;
}
