.content_item-link {
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
    display: table-cell;
    padding: 12px 18px;
    height: 100%;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

.table-link-cell { padding: 0!important;}
