$sidebar-width-max: 230px;
$sidebar-width-min: 85px;
$sidebar-collapse-transition: width 0.25s ease;
$sidebar-toggle-button-transition: transform 500ms linear;

.tenant__item {
  position: relative;
}

.tenant__item .material-icons {
  position: absolute;
  right: 10px;
}

.layout__sidebar { // Styles copied from .mdl-layout__drawer minus absolute positioning
  @include clearfix;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: $sidebar-width-max;
  height: 100%;
  max-height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right: 1px solid rgb(224,224,224);
  transform: translateX(-250px);
  transform-style: preserve-3d;
  will-change: transform;
  transition: $sidebar-collapse-transition, transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.sidebar__header {
  padding: 10px;
}

.sidebar__root-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar__brand-logo {
  max-height: 60px;
  max-width: 60px;
}

.sidebar__brand-name {
  @extend %display-text;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

// Overrides

.mdl-layout__drawer {
  background-color: $color-grey-dark;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  @extend %sidebar-nav;
  min-width: $sidebar-width-max - 60px;
  padding-left: 20px;
  transition: padding-left 0.25s ease;

  .material-icons {
    margin-right: 10px;
    font-size: 24px;
    color: inherit;
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: $employer-color;
  color: $color-grey-dark;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.tenant__item {
  background-color: $employer-color;
  color: $color-white;
}

.sidebar__toggle-button {
  height: 1em;
  color: $color-teal-light;
  background-color: $color-teal-dark;
  padding: 0.25em 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:after {
    content: '\e5cb';
    font-family: 'Material Icons';
    transform: rotate(0deg);
    transition: $sidebar-toggle-button-transition;
  }
}

// Collapsing

@media only screen and (min-width: 1024px) {
.sidebar--collapsed {

  .nav__item-name {
    display: none;
  }

  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding-left: 30px;
  }

  .tenant__item .material-icons {
    position: static;
  }

  .sidebar__toggle-button:after {
    transform: rotate(-540deg);
    transition: $sidebar-toggle-button-transition;
  }

  .layout__sidebar {
    width: $sidebar-width-min;
    transition: $sidebar-collapse-transition;
  }
}
}
