$sidebar-width-max: 300px;
$sidebar-width-min: 85px;

.tenant__item {
  box-shadow: 0 -1px 5px 2px rgba(0,0,0,0.5);
}

.layout__sidebar { // Styles copied from .mdl-layout__drawer minus absolute positioning
  @include clearfix;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: $sidebar-width-max;
  height: 100%;
  max-height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right: 1px solid rgb(224,224,224);
  transform: translateX(-250px);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  position: relative;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.sidebar__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar__brand-logo {
  max-height: 60px;
  max-width: 60px;
}

.sidebar__brand-name {
  @extend %display-text;
  color: white;
  margin-left: 15px;
}

// Overrides

.mdl-layout__drawer {
  background-color: $color-grey-dark;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  @extend %sidebar-nav;
  padding-left: 30px;

  .material-icons {
    margin-right: 32px;
    font-size: 24px;
    color: inherit;
  }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: $employer-color;
  color: $color-grey-dark;
}

// Collapsing

.internal-view {

  .nav__item-name {
    display: none;
  }

  .mdl-navigation__link {
    min-width: 200px;
  }

  .layout__sidebar {
    width: $sidebar-width-min;

    &:hover {
      width: $sidebar-width-max;
      transition: width 0.25s ease;

      .nav__item-name {
        display: inline-block;
      }
    }
  }
}
