/**
 * main.scss
 *
 * This file imports all of Cortex's styles to construct
 * the application's final stylesheet.
 */
@import "font-awesome-sprockets";
@import 'font-awesome';

@import 'variables';
@import 'mixins';

// Vendor
@import 'vendor/abn-tree';
@import 'vendor/redactor/redactor';

// Twitter Bootstrap and overridden styles
@import 'bootstrap-cortex';

// Application-wide styling
@import 'cortex';

// Directives
@import 'directives/file-selector';
@import 'directives/youtube-selector';

// States
@import 'states/locales.edit';
@import 'states/localizations.edit';
@import 'states/media.edit';
@import 'states/media.grid';
@import 'states/media.manage';
@import 'states/media.new';
@import 'states/media.bulk';
@import 'states/posts.edit';
@import 'states/posts.edit.classify';
@import 'states/posts.edit.display';
@import 'states/posts.edit.info';
@import 'states/posts.edit.seo';
@import 'states/posts.manage';
@import 'states/tenant.manage';
@import 'states/users.edit';
@import 'states/users.facets';
@import 'states/users.profile';
@import 'states/users.bulk';
@import 'states/credentials.new';
@import 'states/credentials.edit';
@import 'states/webpages.manage';
@import 'states/webpages.new';
@import 'states/webpages.edit';

@import 'ng-tags-input/ng-tags-input';

@import 'bootstrap-switch/dist/css/bootstrap3/bootstrap-switch';
