@import 'application';

.authentication {
  background-color: $color-grey-dark;
}

.mdl-layout__content--authentication {
  background-color: $color-grey-dark;
}

.authentication__content {
  display: flex;
  justify-content: center;
}

form.new_user .mdl-button {
  float: none;
}

.authentication__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.authentication__header .logo {
  max-width: 60px;
}

.authentication__header-text {
  @extend %display-text;
  color: white;
}
