@import 'application';

.authentication {
  background-color: $color-grey-dark;
}

.authentication__content {
  display: flex;
  justify-content: center;
}

.news section:not(:last-of-type) {
  margin-bottom: 16px;
}

.section__featured-media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

main {
  margin-top: 16px;
}

form.new_user .mdl-button {
  float: none;
}

.authentication__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication__header-text {
  @extend %display-text;
  color: white;
}

.newsfeed__title {
  @extend .mdl-layout-title;

  line-height: 48px;
  margin-top: auto;
  margin-bottom: auto;
}
