html, body {
  font-family: $cortex-font-stack;
  font-size: $base-font-size;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after,
.mdl-switch.is-checked .mdl-switch__thumb,
.mdl-textfield__label:after,
.mdl-switch__ripple-container .mdl-ripple,
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background-color: $employer-color;
}

.mdl-switch.is-checked .mdl-switch__track {
    background-color: rgba($employer-color, 0.5);
}

.mdl-textfield__input {
  @extend .text-style-6;

  &:placeholder {
    @extend .text-style-5;
  }
}

.mdl-button {
  @extend .text-style-4;
  color: $employer-color-dark;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-grey-light;
  }

  &:disabled {
    color: $color-anchor-blue-light;
  }
}

.mdl-button--raised.mdl-button--colored {
  color: white;
  background-color: $employer-color-dark;

  &:hover,
  &:active,
  &:focus {
    background-color: $employer-color;
  }

  &:disabled {
    color: $color-anchor-blue-light;
    background-color: $color-grey-light;
  }
}
