main {
  @extend .container-fluid;
}

// Alerts
.alert-box {
  @include make-xs-column(12);
  @include make-md-column-offset(3);
  @include make-md-column(6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

// Fix message flash transition
.alert-flash:not(.in) {
  height: 0;
  transition-property: all;
}

// Transitions
.fade {
  transition-property: all;
  height: 0;
  &.in {
    height: auto;
  }
}

.fade-slow {
  opacity: 0;
  height: 0;
  @include transition(opacity .3s linear);
  transition-property: all;
  &.in {
    height: auto;
    opacity: 1;
  }
}

// Cortex Navbar - screech!
.navbar {
  margin-bottom: 0;
}

.navbar-admin {
  @extend .container-fluid;

  @media (min-width: $screen-md-min) {
    .navbar-brand {
      padding-left: 0;
    }
  }
}

// Modal Dialogs
@media (min-width: $screen-md-min) {
  .modal-xl {
    width: $screen-lg-min; } }

// AngularJS
[ng-click], [ui-sref] { cursor: pointer; }
