////////////////////////////////
// Container

.view {
  @include make-md-column(12, 0);
}

////////////////////////////////
// Typography

.smaller {
  font-size: 75%;
}

.word-break-all {
  word-break: break-all;
}

.font-humanist {
  font-family: $humanist;
}

////////////////////////////////
// Margins
// Keeping the hard-defined margins until refactoring is complete

.hmargin-left-small {
  margin-left: $standard-margin;
}

.hmargin-right-small {
  margin-right: $standard-margin;
}

.vmargin-top-small {
  margin-top: $standard-margin;
}

.vmargin-top-large {
  margin-top: $standard-margin * 2;
}

.vmargin-bottom-small {
  margin-bottom: $standard-margin;
}

.vmargin-bottom-large {
  margin-bottom: $standard-margin * 2;
}

////////////////////////////////
// Decorative Styles

.hr-below, .heading-decorative {
  padding-bottom: $standard-margin / 2;
  margin-bottom: $standard-margin;
  border-bottom: $standard-border;
}

////////////////////////////////
// Bootstrap Restyling/Overrides

header div.container {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.container {
  .btn{
    border: $standard-border;
    background: white;
    color: black;
  }

  .btn:hover {
    background: #FFA178;
    color: white;
  }

  button.active, .btn-primary {
    @include gradient-vertical(#FFA178, #E9743A, 0%, 100%);
    color: white;
  }

  .navbar-collapse {
    @media (max-width: $screen-md-min) {
      box-shadow: none;
    }
  }

  .navbar-form {
    @extend .clearfix;
    margin: 5px 0 0.625em 0;
    padding: 0;

    .btn-search {
      width: 2em;
      border: none;
      @include border-right-radius(5px);
      background-color: rgba(255,255,255,0.05);
      color: white;
    }
  }

  .pagination {
    margin-top: 0;
  }
}

legend {
  font-size: 18px;
  font-weight: 500;
  @extend .heading-decorative;
  margin-top: $standard-margin;
  padding-bottom: 0;
}

dl.dl-horizontal {
  margin-bottom: $standard-margin;
}

////////////////////////////////
// Alerts

.alert-box {
  @include make-xs-column(12);
  @include make-md-column-offset(3);
  @include make-md-column(6);
  margin-top: $standard-margin * 2;
}

// Fix message flash transition
.alert-flash:not(.in) {
  height: 0;
  transition-property: all;
}

////////////////////////////////
// Sidebar Filters

.filter-group {
  button{
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
  }

  legend {
    padding-bottom: 3px;
    @extend .small;
    @extend .text-muted;
    margin-bottom: $standard-margin;
  }

  .input-group button {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    font-weight: normal;
  }
}

////////////////////////////////
// Inputs

/*
// Emphasize required input fields
input.form-control[required]:not(:focus) {
  border-color: $gray;
  @include placeholder {
    color: #000;
  }
}
*/

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
}

.drag-and-drop-area {
  height: 8.5em;
  padding: 1em;
  border: 1px dashed #f47937;
  border-radius: 5px;
  margin-top: $standard-margin;
}

////////////////////////////////
// Transitions

.fade {
  transition-property: all;
  height: 0;
  &.in {
    height: auto;
  }
}

.fade-slow {
  opacity: 0;
  height: 0;
  @include transition(opacity .3s linear);
  transition-property: all;
  &.in {
    height: auto;
    opacity: 1;
  }
}

////////////////////////////////
// Cortex Navbar

.navbar {
  margin-bottom: 0;
}

.nav li a {
  padding: 10px;
}

.navbar-admin {
  @include gradient-vertical-three-colors(#022745, #104070, 70%, #09335B);
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
}

.nav-button {
  color: white;
  font-size: 22px;
}

.menu-item-bg {
  background: asset-url('header-sprites.png') no-repeat, asset-url('header-active.png') repeat-x;
  padding-top: 5.35em;
  padding-bottom: 0.75em;
  @media (max-width: $screen-sm-max) {
      background: none;
      padding: 0.5em 0.5em 0.5em 2em;
  }
}

.profile-search {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .pull-right;

  @media (max-width: $screen-md-min) {
    margin-left: $standard-margin / 2;
  }
}

.navbar-profile-box {
  @extend .clearfix;
  width: 11.6em;
  padding: .31em;
  margin-top: 0.625em;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.05);
  color: white;
  @include text-overflow();

  .navbar-profile-avatar {
    @extend .pull-left;
    width: 40px;
    height: 40px;
  }

  .navbar-profile-text {
    margin-left: $standard-margin / 2;
    width: 7.5em;
    overflow: hidden;
  }
}

.form-search{
  height: 1.67em;
  width: 11.7em !important;
  border: none;
  background-color: rgba(255,255,255,0.05);
  color: white;
  @include border-left-radius(5px);
}

.navbar-items-admin {
  a {
    color: white;
  }

  a:hover {
    @media (max-width: $screen-sm-max) {
      color: #f47937;
    }
  }

  li.active{
    background: asset-url('header-active.png') center bottom repeat-x;
    @media (max-width: $screen-sm-max) {
      background: #eee;
      font-weight: bold;

      a {
        color: #f47937;
      }
    }
  }

  a.navbar-item, a.navbar-item:hover, a.navbar-item:focus {
    @extend .menu-item-bg;
  }

  a.navbar-item-tenant {
    @include navbar-bg-position(-100px);
  }

  a.navbar-item-tenant:hover, a.navbar-item-tenant:focus {
    @include navbar-bg-position-dual(0);
  }

  a.navbar-item-media {
    @include navbar-bg-position(-300px);
  }

  a.navbar-item-media:hover, a.navbar-item-media:focus {
    @include navbar-bg-position-dual(-200px);
  }

  a.navbar-item-permissions {
    @include navbar-bg-position(-500px);
  }

  a.navbar-item-permissions:hover, a.navbar-item-permissions:focus {
    @include navbar-bg-position-dual(-400px);
  }

  a.navbar-item-posts {
    @include navbar-bg-position(-700px);
  }

  a.navbar-item-posts:hover, a.navbar-item-posts:focus {
    @include navbar-bg-position-dual(-600px);
  }

  a.navbar-item-apps {
    @include navbar-bg-position(-900px);
  }

  a.navbar-item-apps:hover, a.navbar-item-apps:focus {
    @include navbar-bg-position-dual(-800px);
  }
}

.navbar-profile-avatar {
  background-image: asset-url('navbar-profile.jpg');
  background-size: contain;
  height: 40px;
  width: 40px;
}

////////////////////////////////
// Cortex Breadcrumb Bar

div.breadcrumb-container {
  width: 100%;
  background: #f5f5f5;

  .breadcrumb {
    font: 13px $humanist;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .breadcrumb > li + li:before {
    content: "\00a0\00BB";
  }
}

////////////////////////////////
// Modal Dialogs
@media (min-width: $screen-md-min) {
  .modal-xl {
    width: $screen-lg-min; } }

////////////////////////////////
// AngularJS
[ng-click], [ui-sref] { cursor: pointer; }
