////////////////////////////////
// Container

main {
  @extend .container-fluid;
}

////////////////////////////////
// Typography

.word-break-all {
  word-break: break-all;
}

.font-humanist {
  font-family: $humanist;
}

////////////////////////////////
// Alerts

.alert-box {
  @include make-xs-column(12);
  @include make-md-column-offset(3);
  @include make-md-column(6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

// Fix message flash transition
.alert-flash:not(.in) {
  height: 0;
  transition-property: all;
}

////////////////////////////////
// Sidebar Filters

.filter-group {
  button{
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
  }

  legend {
    padding-bottom: 3px;
    @extend .small;
    @extend .text-muted;
    margin-bottom: $standard-margin;
  }

  .input-group button {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    font-weight: normal;
  }
}

////////////////////////////////
// Transitions

.fade {
  transition-property: all;
  height: 0;
  &.in {
    height: auto;
  }
}

.fade-slow {
  opacity: 0;
  height: 0;
  @include transition(opacity .3s linear);
  transition-property: all;
  &.in {
    height: auto;
    opacity: 1;
  }
}

////////////////////////////////
// Cortex Navbar - screech!

.navbar {
  margin-bottom: 0;
}

.navbar-admin {
  @extend .container-fluid;
  background-color: #104070;
  font-family: 'PT Sans', Arial, sans-serif;

  .navbar-brand {
    padding-left: 0px;
  }

  .navbar-toggle {
    color: #eee;
  }

  .navbar-items-admin {
    a {
      color: #eee;
    }

    a:hover {
      background-color: #183654 !important;
    }

    li.active{
      background-color: #183654;
    }
  }
}

////////////////////////////////
// Cortex Breadcrumb Bar

div.breadcrumb-container {
  @extend .container-fluid;
  margin-bottom: $standard-margin;
  background: $breadcrumb-bg;

  .breadcrumb {
    font: 13px $humanist;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .breadcrumb > li + li:before {
    content: "\00a0\00BB";
  }
}

////////////////////////////////
// Modal Dialogs
@media (min-width: $screen-md-min) {
  .modal-xl {
    width: $screen-lg-min; } }

////////////////////////////////
// AngularJS
[ng-click], [ui-sref] { cursor: pointer; }
