.news section:not(:last-of-type) {
  margin-bottom: 16px;
}

.news .mdl-card {
  min-height: unset;
}

.section__featured-media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.notes__header {
  @extend .mdl-layout-title;

  line-height: 48px;
  text-transform: uppercase;
}
