//colors
$black_54: rgba(0, 0, 0, 0.54);
$white_56: rgba(255, 255, 255, 0.56);
$color_robins_egg_blue_approx: #00bcd4;
$color_limed_spruce_approx: #37474f;
$color_inch_worm_approx: #acec00;
$color_fuchsia_pink_approx: #ba65c9;
$color_violet_red_approx: #ef3c79;
$color_cerulean_approx: #00b9d8;
$color_razzmatazz_approx: #d9006e;
$white: white;
$white_89: rgba(255, 255, 255, 0.89);

.demo-layout {
  .demo-header .mdl-textfield {
    padding: 0;
    margin-top: 41px;
    .mdl-textfield__expandable-holder {
      bottom: 19px;
    }
  }
  .mdl-layout__header .mdl-layout__drawer-button {
    color: $black_54;
  }
  .demo-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: $white_56;
    font-weight: 500;
    &:hover {
      background-color: $color_robins_egg_blue_approx;
      color: $color_limed_spruce_approx;
    }
  }
}

.demo-drawer {
  border: none;
  .mdl-menu__container {
    z-index: -1;
  }
  .demo-navigation {
    z-index: -2;
  }
  .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
  }
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  // height: 151px;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  flex-grow: 1;
  .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: $white_56;
    margin-right: 32px;
  }
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  align-items: center;
}

.demo-chart {
  &:nth-child(1) {
    color: $color_inch_worm_approx;
  }
  &:nth-child(2) {
    color: $color_robins_egg_blue_approx;
  }
  &:nth-child(3) {
    color: $color_fuchsia_pink_approx;
  }
  &:nth-child(4) {
    color: $color_violet_red_approx;
  }
}

.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:root {
  .demo-graphs {
    min-height: 664px;
  }
  .demo-graph {
    max-height: 300px;
  }
}

.demo-graph {
  &:nth-child(1) {
    color: $color_cerulean_approx;
  }
  &:nth-child(2) {
    color: $color_razzmatazz_approx;
  }
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
  .demo-separator {
    height: 32px;
  }
  ul {
    padding: 0;
  }
  h3 {
    font-size: 1em;
  }
  .mdl-card__title.mdl-card__title {
    color: $white;
    font-size: 24px;
    font-weight: 400;
  }
  .mdl-card__actions a {
    color: $color_robins_egg_blue_approx;
    text-decoration: none;
  }
}

.demo-options {
  h3 {
    margin: 0;
  }
  .mdl-checkbox__box-outline {
    border-color: $white_89;
  }
  ul {
    margin: 0;
    list-style-type: none;
  }
  li {
    margin: 4px 0;
  }
  .material-icons {
    color: $white_89;
  }
  .mdl-card__actions {
    height: 64px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

_:-ms-input-placeholder {
  min-height: 664px;
  max-height: 300px;
}
