// Responsive Navbar Breakpoint Override
$grid-float-breakpoint: 992px;

// Margin/Gutter
$standard-margin: 10px;

// Border
$standard-border: 1px solid #e5e5e5;
$light-border: 1px solid #ccc;

// Fonts
$humanist: "PT Sans", Arial, sans-serif;
$neo: "Helvetica Neue", Helvetica, Arial, sans-serif;
