<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-primary org-btn"
            ui-sref="cortex.organizations.tenants.new({organizationId: ''})"><i class="fa fa-plus-square"></i> Create Organization
    </button>

    <button ng-repeat="organization in data.organizations"
            class="btn btn-block"
            ui-sref=".tenants({organizationId:organization.id})"
            ng-class="{'btn-primary': organization.id == data.organization.id}">
      {{ organization.name }}
    </button>
  </div>

  <div class="col-md-4">
    <div ng-show="$state.includes('cortex.organizations.manage.tenants')">
      <span class="panel-title h3">Hierarchy</span>

      <div class="pull-right">
        <button ng-disabled="!tenantsTreeStatus.isLoaded" type="button" class="btn btn-default"
                ui-sref="cortex.organizations.tenants.new({organizationId: data.organization.id})">
          <span class="fa fa-plus"></span> Add Tenant
        </button>
      </div>

      <div class="panel-body" ui-view="tenants-tree">
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <span ng-show="$state.includes('cortex.organizations.manage.tenants') && data.tenants.selected">
      <span class="panel-title h3">Details</span>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default"
                ui-sref="cortex.organizations.tenants.edit({organizationId: data.organization.id, tenantId: data.tenants.selected.id})">
          <span class="fa fa-plus"></span> Edit Details
        </button>
      </div>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="deleteTenant(data.tenants.selected)">
          <span class="fa fa-minus"></span> Delete Tenant
        </button>
      </div>

      <div class="panel-body" ui-view="tenants-details">
      </div>
    </span>
  </div>
</div>
