<div class="title form-group">
  <label>Title</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-header"></i></div>
    <input type="text"
           class="form-control"
           name="seo_title"
           placeholder="Enter an HTML meta title for this post"
           ng-model="data.post.seo_title"
           ng-maxlength="255">
  </div>
</div>

<div class="description form-group">
  <label>Description</label>

  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-ellipsis-h"></i></div>
    <input type="text"
           class="form-control"
           name="seo_description"
           placeholder="Enter an HTML meta description for this post"
           ng-model="data.post.seo_description"
           ng-maxlength="255">
  </div>
</div>

<div class="keywords tags">
  <label>Keywords</label>

  <div class="tags-group">
    <tags-input display-property="name"
                type="text"
                add-on-space="true"
                placeholder="Enter HTML meta keywords for this post"
                ng-model="data.post.seo_keyword_list"
                ng-maxlength="255">
    </tags-input>
  </div>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="noindex" id="noindex" ng-model="data.post.noindex"> Don't Index This Page In Search Engines (<strong>noindex</strong>)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name="nofollow" id="nofollow" ng-model="data.post.nofollow"> Don't Index Any Pages This Page Links To (<strong>nofollow</strong>)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name="nosnippet" id="nosnippet" ng-model="data.post.nosnippet"> Don't Show A Snippet in Google Search Results (<strong>nosnippet</strong>)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name="noodp" id="noodp" ng-model="data.post.noodp"> Don't Show Description from ODP/DMOZ (<strong>noodp</strong>)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name="noarchive" id="noarchive" ng-model="data.post.noarchive"> Don't Show "Cached" Link on Google Search Results (<strong>noarchive</strong>)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name="noimageindex" id="noimageindex" ng-model="data.post.noimageindex"> Don't Show This Page As the Source For Images in Google Image Search (<strong>noimageindex</strong>)
  </label>
</div>
