<div class="localization-edit">
  <form novalidate name="localizationForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-pencil-square-o"></i> Provide Details
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" type="text" class="form-control"
                 ng-model="data.localization.name" placeholder="Localization name" required>
        </div>

        <div class="actions row">
          <div>
            <button type="button" class="btn btn-default btn-block" ng-click="cancel()">
              <i class="fa fa-reply"></i> Cancel
            </button>
          </div>

          <div>
            <button type="button" class="btn btn-primary btn-block"
                    ng-disabled="localizationForm.$invalid || !localizationForm.$dirty" ng-click="saveLocalization()">
              <i class="fa fa-cloud-upload"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
